include README.md
include LICENSE
include requirements.txt
include .env.example
recursive-include data *.csv
recursive-include src *.py
recursive-include tests *.py
global-exclude __pycache__
global-exclude *.py[cod]
